<%- include('./partials/headerAddtopping.ejs', {title: "Add Topping"}) %>
<center>
    <h1>" <%= menu[0].name %> "</h1>
    <h4>Original Price : <b>"<%= getRp(menu[0].price) %>"</b></h4>
</center>

<table id="table">
    <tr>
        <th>Topping</th>
        <th>Price</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    <% menu[0].Toppings.forEach(el => { %>
        <tr>
            <td><%= el.name %></td>
            <td><%= getRp(el.price) %></td>
            <td><img src="<%= el.image %>" width="150" height="75"></td>
            <td>
                <a href="/menu/removeTopping/<%= menu[0].id%>/<%= el.id %>">Remove</a>
            </td>
        </tr>
    <% }) %>
</table>
<br>
<div>
    <form action="/menu/addTopping/<%= menu[0].id%>" method="POST">
        <label for="add">Add Topping</label><br>
        <select name="ToppingId" id="">
            <option value="">Choose Topping</option>
            <% topping.forEach(el => { %>
                <option value=<%= el.id %>><%= el.name %> (<%= getRp(el.price) %>) </option>
            <% }) %>
        </select><br><br>
        <input type="submit" value="Add">
    </form>
    <h3>Total Price : <%= getTotalPrice(menu,menu[0].Toppings) %></h3>
</div>
<br>
    
<%- include('./partials/footer.ejs') %>
