<%- include('./partials/headerLoggedIn.ejs', {title: "Home"}) %>

<table border="1">
    <h1>Beverages Menu</h1>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    <% menu.forEach(el =>{ %>
        <tr>
            <td><%= el.name %></td>
            <td><%= getRp(el.price) %></td>
            <td><%= el.description %></td>
            <td>
                <a href="http://localhost:3000/menu/addTopping/<%= el.id %>">Add Topping</a>
            </td>
        </tr>
    <% }) %>
</table>

<%- include('./partials/footer.ejs') %>
