<%- include('./partials/headerLoggedIn.ejs', {title: "Home"}) %>
<br>
<% menu.forEach((el, i) => { %>
    <% if (i % 3 === 0){ %>
        <div class="row">
            <div class="column">
              <div class="card">
                <img src="<%= el.image%>" width="500" height="350" alt="Avatar" style="width:100%">
                <h3><%= el.name %></h3>
                <p><%= el.description %></p>
                <p><%= el.price %></p>
                <form action="/menu/buy/<%= el.id%>" method="GET">
                <input class="button" type="submit" value="Buy">
                </form>
                <br>
            </div>
            <br>
            <br>
            </div>
    <%} else { %>
        <div class="row">
            <div class="column">
              <div class="card">
                <img src="<%= el.image%>" width="500" height="350" alt="Avatar" style="width:100%">
                <h3><%= el.name %></h3>
                <p><%= el.description %></p>
                <p><%= el.price %></p>
                <form action="/menu/buy/<%= el.id%>" method="GET">
                <input class="button" type="submit" value="Buy">
                </form>
                <br>
              </div>
            </div>
    <% } %>
    <% }) %>
<%- include('./partials/footer.ejs') %>